<h1>L-Game</h1>

<div class="row" *ngFor="let row of gameBoard; let i = index">
  <div 
    class="cell" 
    *ngFor="let cell of gameBoard[i]; let j = index"
    >
    <div 
      class="cell-container"
      [ngClass]="{'red-placed': cell.state == 2, 
                  'blue-placed': cell.state == 1, 
                  'neutral-placed': cell.state == 3,
                  'neutral-selected': cell.state == 4,
                  'is-blue-turn': playerTurn == 1,
                  'is-red-turn': playerTurn == 2,
                  'is-moving-L': !playerHasMovedL,
                  'unconfirmed': cell.unconfirmed}"
      (mousedown)="checkClickStart(cell)"
      (mouseenter)="checkForDrag(cell)"
      (mouseup)="checkPlaceComplete(cell)">
    </div>
  </div>
</div>

<button (click)="skipNeutralMove()">Skip Neutral Move</button>